<h4 class="title is-4 has-text-centered" >Editing  Cath Status - Dates - Reasons ...  </h4>

<div class="element_info">
    Patient :
    <%= render  AngioWeb.SharedView, "_patient_info.html", patient: @patient %>
</div>


<%= render "form.html", changeset: @changeset,
        patient: @patient,
action: Routes.pt_angio_path(@conn, :update,
@patient, @info_coronary ) %>

 <span>
         <%= link "Back To Angio  List", to: Routes.pt_angio_path(@conn, :index, @patient) , class: "button is-link "%>
</span>


