<div class="title_form">
<h4 class="title is-4 has-text-centered" >Listing Cath Lab Admissions </h4>
</div>

<div class="element_info">
    Patient :
    <%= render  AngioWeb.SharedView, "_patient_info.html", patient: @patient %>
</div>

<% alias Angio.Canons, as: Query %>
<%#= render  AngioWeb.SharedView, "_menu_info_coronary.html", conn: @conn,
patient: @patient,
info_coronary: @info_coronary,
assigns %>

<%#= render  AngioWeb.SharedView, "_menu_info_coronary.html", assigns %>

<table class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">
  <thead class="thead">
    <tr>
  
      <th>Angio Status</th>
      <th>Angio date</th>
      <th>Lab Exam Num</th>
      <th>Main reason</th>
      <th>Normal natives?</th>
      <th>Vessels Diseased</th>
      <th>Prior Interv</th>
      <th>Grafts? </th>
  <!--------------
      <th> LiveView</th>
     ---------->
      <th>
            <span>
         <i class="fa  fa-book"
          style="font-size:20px;color:#053eff;text-align:center;">
          </i>
         </span>
      Report
      
      </th>
      <th>
            <span>
         <i class="fa  fa-image"
          style="font-size:20px;color:#053eff;text-align:center;">
          </i>
         </span>
      Graphics
      
      </th>
      <th>
          <span>
         <i class="fa  fa-flag"
          style="font-size:20px;color:#053eff;text-align:center;">
          </i>
          </span>
      Menu
      
      
      </th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>


    </tr>
  </thead>
  <tbody>
<%= for info_coronary <- @info_coronaries do %>
    <tr>

      <td>
       <% s_status =  Query.select_options("info_cor_diagnostic_status") %>
 <% v_status = info_coronary.info_cor_diagnostic_status  %>
  <ul class="list-group">
<%= raw(Query.convert_select_key( s_status, v_status)) %>
</ul>

      </td>
      <td>
        <strong>
        <%= info_coronary.info_cor_date %>
        </strong>
      </td>
      <td><%= info_coronary.info_exam_num %></td>



     <td>
<% s_reason =  Query.select_options("info_cor_main_reason") %>
 <% v_reason = info_coronary.info_cor_main_reason  %>
  <ul class="list-group">
<%= raw(Query.convert_select_key( s_reason, v_reason)) %>
</ul>
     </td>
      <td><%= Query.convert_true_false(info_coronary.info_cor_normal_natives_yn) %></td>

      <td><%= info_coronary.info_cor_dis_ves_num %></td>
      <td><%= Query.convert_true_false( info_coronary.info_cor_prior_interv_yn)%></td>
      <td><%=  Query.convert_true_false(info_coronary.info_cor_grafts_yn) %></td>

      </td>
<!----
<td>
<%= link "Counter", to: Routes.live_path(@conn, AngioWeb.CounterLive) %>
</td>
---->
      <td>
     <span><%= link "Text Report Summary", to: Routes.pt_angio_report_path(@conn, 
      :show,
      @patient, 
      info_coronary, info_coronary.id), 
      class: "button is-link is-small is-fullwidth" %></span>
      </td>

       <td>
     <span><%= link "Coronary Sketch ", to: Routes.pt_angio_cor_tree_path(@conn, 
      :show,
      @patient, 
      info_coronary, info_coronary.id), 
      class: "button is-link is-small is-fullwidth" %></span>
      </td>

      <td>

 <%= render  AngioWeb.SharedView, "_menu_info_coronary.html",
conn: @conn, patient: @patient, info_coronary: info_coronary %>

        </td>
           <td>
        <span><%= link "Show", to: Routes.pt_angio_path(@conn, :show,
@patient,info_coronary), class: "button is-link is-small is-fullwidth" %></span>
      
      </td>
      <td>
        <span><%= link "Edit", to: Routes.pt_angio_path(@conn,
         :edit, @patient,info_coronary), class: "button is-link is-small is-fullwidth" %></span>

      </td>

      <td>
          <span>
            <%= link "Delete", to: Routes.pt_angio_path(@conn, :delete, @patient, info_coronary), method: :delete, data: [confirm: "Are you sure?"], class: " button is-danger is-small is-fullwidth" %>
        </span>

      </td>
    </tr>
<% end %>
  </tbody>

</table>

<span><%= link "New Cath Lab Admission",
      to: Routes.pt_angio_path(@conn, :new, @patient ),
class: "button is-info is-medium is-fullwidth" %>
</span>

<span>
<%= link "To Patient List ", to: Routes.pt_path(@conn, :index),
       class: "button is-link"  %>

</span>

