<h4 class="title is-4 has-text-centered">New Angio Info Form</h4>
<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<%= render "form.html", Map.put(assigns, :action,
    Routes.pt_angio_path(@conn, :create, @patient)) %>

<span><%= link "Back To Angio Info", to: Routes.pt_angio_path(@conn,
      :index, @patient), class: "button is-link" %></span>

