
<div class="title_form">
<h4 class="title is-4 has-text-centered"> Procedure Details Form</h4>
</div>

<div class="element_info">
    Patient :
    <%= render  AngioWeb.SharedView, "_patient_info.html", patient: @patient %>
</div>

<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>

 <%= render "form.html", changeset: @changeset,
        info_coronary: @info_coronary,
action: Routes.pt_angio_proc_episode_path(@conn, :update, @patient, @info_coronary,
@proc_episode  ) %>

        <span>
          <%= link "Back To Procedure Episode  List", 
          to: Routes.pt_angio_proc_episode_path(@conn, :index, @patient,
                         @info_coronary) , class: "button is-primary"%>
</span>
<span>
<%= link "To Lab",   to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-primary "   %>
 </span>



