

<h4 class="title is-4 has-text-centered" >Listing Procedure Episode </h4>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>



<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>

<% alias Angio.Canons, as: Query %>
<div class="columns">
  <div class="column is-2 ">
<%= render  AngioWeb.SharedView, "_menu_info_coronary.html", assigns %>

  </div><!----column-------------------->
<div class="column is-10 frame_2">


<table
  class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">

  <thead class="thead">


    <tr>
    <th>Primary Operator</th>
    <th>Operator NPI</th>
      <th>Main ICD-10-PCS</th>
      <th>Angio Request Date</th>
      <th>Angio Request Time</th>

      <th>Show</th>
        <th>Edit</th>
  <th>Delete</th>

    </tr>
  </thead>
  <tbody>
<%= for proc_episode <- @proc_episodes do %>
    <tr>
     <td><%= proc_episode.proc_epis_prim_operator_lname %></td>
       <td><%= proc_episode.proc_epis_prim_operator_npi %></td>
      <td><%= proc_episode.proc_epis_icd10_pcs_1 %></td>
      <td><%= proc_episode.proc_epis_request_dt %></td>
      <td><%= proc_episode.proc_epis_request_tm %></td>

      <td>
        <%= link "Show", to: Routes.pt_angio_proc_episode_path(@conn, :show,
                    @patient, @info_coronary, proc_episode), class: "button is-primary is-small" %>

      </td>



      <td>

        <%= link "Edit", to: Routes.pt_angio_proc_episode_path(@conn, :edit,
                    @patient, @info_coronary, proc_episode), class: "button is-primary is-small" %>

      </td>




      <td>
         <%= link "Delete", to: Routes.pt_angio_proc_episode_path(@conn, :delete,
        @patient, @info_coronary, proc_episode), method: :delete, data: [confirm: "Are you sure?"], class: "button is-small is-danger" %>

      </td>




    </tr>
<% end %>
  </tbody>
</table>
</div><!----column 10-->
</div><!----columns-->
<span>

  <%= link "If Not Yet Inserted - Add A New Procedure Episode ",
    to: Routes.pt_angio_proc_episode_path(@conn, :new,
  @patient, @info_coronary), class: "button is-info is-large is-fullwidth" %>
</span>

<span>
  <%= link "To Patient List",
   to: Routes.pt_path(@conn, :index), class: "button
  is-link" %>
</span>

<span>
<%= link "To Lab ",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>
