
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <% coding_systems = [
      "SNOMED-CT": "SNOMED-CT",
      "LOINC": "LOINC",
      "HL7 Value Set": "HL7-SET",
      "CPT-CODE": "CPT-CODE",
      "RxNorm": "RXNORM",
      "NCI Thesaurus": "NCIT",
      "ACC-NCDR": "ACC-NCDR",
      "NCDR-SEQ": "NCDR-SEQ",
      "NCDR-ICD": "NCDR-ICD",
      "NCDR-PCI": "NCDR-PCI",
      "ICD10-CM": "ICD10-CM",
      "ICD10-PCS": "ICD10-PCS",
      "RADLEX": "RADLEX",
       "MESH": "MESH",
      "Social Security Num": "SSN",
      "UMLS": "UMLS",
      "NDFRT": "NDFRT",
      "MedDRA": "MedDRA",
      "NDC (Drug Codes)": "NDC-DRUG",
      "DOI": "DOI"
  ] %>

<!---------start---------------------------->
<div class = "columns">
<div class = "column frame_1">

<div class="columns">

<div class="column">

<div class="field">
     <label class="label">Coding Systems </label>
     <div class="control">
    <div class="select is-primary">
  <%= select(f, :code_system, 
    coding_systems,
   prompt: "-----Select---------",
   class: "form-control")    %>

    </div><!--select---->
     </div><!--control---->
  </div><!---field--->

</div><!-----column------------->


<div class="column">

 <div class="field">
  <label class="label">Assign a Code</label>
  <div class="control">
    <%= text_input f, :code,
        class: "input",
type: "text", placeholder: "code"  %>
  <%= error_tag f, :code %>

  <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->

</div><!-----column------------->


</div><!---columns----------------------->

<!----------end start--------------->
<div class="columns">
<div class="column">
<div class="field">
  <label class="label">Description </label>
  <div class="control">
    <%= text_input f, :description,
        class: "textarea",
        type: "input", placeholder: "description"  %>
        <%= error_tag f, :description %>

        <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->
</div><!---column--------------->
</div><!----columns-------------------------->
</div><!---end L- column----------------------->
<div class="column frame_1"><!------R COLUMN---------------------->
<!---------start---------------------------->
<div class="columns">

<div class="column">
<div class="field">
  <label class="label"> My Notes </label>
  <div class="control">
    <%= text_input f, :notes,
        class: "textarea",
        type: "input", placeholder: "notes"  %>
        <%= error_tag f, :notes %>

        <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->
</div><!-----column------------->


</div><!---columns----------------------->
<!----------end start--------------->

</div><!---end R- column----------------------->

</div><!-----END L-R COLUMNS---------------------------->
  

  
  
  


  <div class="form-group">
    <%= submit "Submit - Save Record", class: "button is-info is-large is-fullwidth" %>
  </div>

<% end %>
