<h4 class="title is-4 has-text-centered">Listing Codes For An  Option </h4>
<div class="element_info">
      <%= "#{@defs_option.selection_text}" %>
    
    Of <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>

<div class="colums">

    <div class="column is-12">
<table class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">

  <thead class="thead">

                <tr>
                    <th>Coding system</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%= for opts_code <- @opts_codes do %>
                    <tr>
                        <td><%= opts_code.code_system %></td>
                        <td><%= opts_code.code %></td>
                        <td><%= raw(opts_code.description) %></td>
                        <td>

<%= link "Show",
to: Routes.definition_defs_option_opts_code_path(@conn, :show,
                                @definition,
                                @defs_option, opts_code),
                            class: "button is-primary is-small" %>
                        </td>

                        <td>

                            <%= link "Edit", to: Routes.definition_defs_option_opts_code_path(@conn, :edit,
                                @definition ,
                                @defs_option, opts_code),
                            class: "button is-primary is-small" %>
                        </td>

                        <td>

                            <%= link "Delete", to:  Routes.definition_defs_option_opts_code_path(@conn, :delete, @definition, @defs_option, opts_code), method: :delete, data: [confirm: "Are you sure?"],
                            class: "button is-small is-danger" %>
     
                        
                        </td>


                    </tr>
                <% end %>
            </tbody>
        </table>

<span>
        <%= link  "Enter A New Code For Option: " <> "#{@defs_option.selection_text}",
  to:  Routes.definition_defs_option_opts_code_path(@conn, :new, @definition, @defs_option),
class: "button is-info is-large is-fullwidth"%>

</span>

<span>
   <%= link "Back Pick-List",  to: Routes.definition_defs_option_path(@conn, :index, @definition),
class: "button is-link"  %>
</span>


<span>
<%= link "To Field List", to: Routes.definition_path(@conn, :index),
       class: "button is-link"  %>
</span>
    </div>
    </div>
