<div class="element_info">
    New Selection For
    <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>


      
      <%= render "form.html", changeset: @changeset,
        action: Routes.definition_defs_option_opts_code_path(@conn, :create, @definition, @defs_option)  %>
      <span>
        
        <%= link "Back To Options Codes", to:  Routes.definition_defs_option_opts_code_path(@conn, :create,
            @definition, @defs_option),  class: "button is-primary"%>

    </span>

    

      
    

