
<% alias Angio.Canons, as: Query %>


<div class="title_form">
<h4 class="title is-4 has-text-centered">Sats Pressures Index</h4>
</div>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>

<div class="columns">
  <div class="column is-2">
<%= render  AngioWeb.SharedView, "_menu_info_coronary.html", assigns %>
  </div><!----column-------------------->


<div class="column is-10 frame_2">


<table
  class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable"
>
  <thead class="thead">
    <tr>
      <th>Aortic pres mean</th>

      <th>Show</th> 
<th>Edit </th>
<th>Delete</th>
    </tr>
  </thead>
  <tbody>
<%= for sats_pressure <- @sats_pressures do %>
    <tr>
      <td><%= sats_pressure.aortic_pres_mean %></td>

      <td>
       <%= link "Show", to: Routes.pt_angio_satpres_path(@conn, :show, @patient, @info_coronary,
          sats_pressure), class: "button is-primary is-small" %>
        </td>
       
       
       
       
        <td>  
         <%= link "Edit", to: Routes.pt_angio_satpres_path(@conn, :edit, @patient,
        @info_coronary, sats_pressure), class: "button is-primary is-small" %>
        </td>
       
       
       
       
       
        <td>
            <%= link "Delete", to: Routes.pt_angio_satpres_path(@conn, :delete,
        @patient, @info_coronary, sats_pressure), method: :delete, data: [confirm:
        "Are you sure?"], class: "button is-small is-danger" %>
     
     
     
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div><!-------is-10------------------------>
</div><!-----columns---------------->

<span><%= link "If Not Yet Inserted - Add New Sats Pressures Record  ",
      to: Routes.pt_angio_satpres_path(@conn, :new,
  @patient, @info_coronary), class: "button is-info is-medium is-fullwidth" %>

  <%= link "To Patient List", to: Routes.pt_path(@conn, :index), class: "button
  is-link" %>
</span>
<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>

