

<div class="title_form">
<h4 class="title is-4 has-text-centered"> Show Sats Pressures </h4>
</div>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>
<ul>

  <li>
    <strong>Aortic pres mean:</strong>
    <%= @sats_pressure.aortic_pres_mean %>
  </li>

  <li>
    <strong>Pa right pres mean:</strong>
    <%= @sats_pressure.pa_right_pres_mean %>
  </li>

  <li>
    <strong>Pa pres sys:</strong>
    <%= @sats_pressure.pa_pres_sys %>
  </li>

  <li>
    <strong>Rv pres dias:</strong>
    <%= @sats_pressure.rv_pres_dias %>
  </li>

  <li>
    <strong>Svc pres dias:</strong>
    <%= @sats_pressure.svc_pres_dias %>
  </li>

  <li>
    <strong>Ivc pres mean:</strong>
    <%= @sats_pressure.ivc_pres_mean %>
  </li>

  <li>
    <strong>Svc pres mean:</strong>
    <%= @sats_pressure.svc_pres_mean %>
  </li>

  <li>
    <strong>Sao2 rv:</strong>
    <%= @sats_pressure.sao2_rv %>
  </li>

  <li>
    <strong>Sao2 ra mid:</strong>
    <%= @sats_pressure.sao2_ra_mid %>
  </li>

  <li>
    <strong>Ra pres x:</strong>
    <%= @sats_pressure.ra_pres_x %>
  </li>

  <li>
    <strong>Rv pres sys:</strong>
    <%= @sats_pressure.rv_pres_sys %>
  </li>

  <li>
    <strong>Pa left pres sys:</strong>
    <%= @sats_pressure.pa_left_pres_sys %>
  </li>

  <li>
    <strong>Sao2 hepatic veins:</strong>
    <%= @sats_pressure.sao2_hepatic_veins %>
  </li>

  <li>
    <strong>Sao2 rv apex:</strong>
    <%= @sats_pressure.sao2_rv_apex %>
  </li>

  <li>
    <strong>Sat pres meds:</strong>
    <%= @sats_pressure.sat_pres_meds %>
  </li>

  <li>
    <strong>Pcw pres dias:</strong>
    <%= @sats_pressure.pcw_pres_dias %>
  </li>

  <li>
    <strong>Sao2 svc low:</strong>
    <%= @sats_pressure.sao2_svc_low %>
  </li>

  <li>
    <strong>Sao2 pa:</strong>
    <%= @sats_pressure.sao2_pa %>
  </li>

  <li>
    <strong>Sat pres o2 inhalation:</strong>
    <%= @sats_pressure.sat_pres_o2_inhalation %>
  </li>

  <li>
    <strong>Lv pres sys:</strong>
    <%= @sats_pressure.lv_pres_sys %>
  </li>

  <li>
    <strong>Ra pres v:</strong>
    <%= @sats_pressure.ra_pres_v %>
  </li>

  <li>
    <strong>Pcw pres x:</strong>
    <%= @sats_pressure.pcw_pres_x %>
  </li>

  <li>
    <strong>Pa right pres sys:</strong>
    <%= @sats_pressure.pa_right_pres_sys %>
  </li>

  <li>
    <strong>Pa right pres dias:</strong>
    <%= @sats_pressure.pa_right_pres_dias %>
  </li>

  <li>
    <strong>Ventr dias fill period:</strong>
    <%= @sats_pressure.ventr_dias_fill_period %>
  </li>

  <li>
    <strong>Pcw pres h:</strong>
    <%= @sats_pressure.pcw_pres_h %>
  </li>

  <li>
    <strong>Pcw pres a:</strong>
    <%= @sats_pressure.pcw_pres_a %>
  </li>

  <li>
    <strong>Sao2 pa left:</strong>
    <%= @sats_pressure.sao2_pa_left %>
  </li>

  <li>
    <strong>Pcw pres z:</strong>
    <%= @sats_pressure.pcw_pres_z %>
  </li>

  <li>
    <strong>Ra pres mean:</strong>
    <%= @sats_pressure.ra_pres_mean %>
  </li>

  <li>
    <strong>Pa pres mean:</strong>
    <%= @sats_pressure.pa_pres_mean %>
  </li>

  <li>
    <strong>Sao2 rv mid:</strong>
    <%= @sats_pressure.sao2_rv_mid %>
  </li>

  <li>
    <strong>Pa left pres mean:</strong>
    <%= @sats_pressure.pa_left_pres_mean %>
  </li>

  <li>
    <strong>Sao2 lv:</strong>
    <%= @sats_pressure.sao2_lv %>
  </li>

  <li>
    <strong>Pcw pres v:</strong>
    <%= @sats_pressure.pcw_pres_v %>
  </li>

  <li>
    <strong>Aortic pres dias:</strong>
    <%= @sats_pressure.aortic_pres_dias %>
  </li>

  <li>
    <strong>Svc pres sys:</strong>
    <%= @sats_pressure.svc_pres_sys %>
  </li>

  <li>
    <strong>Ventr sys ejc period:</strong>
    <%= @sats_pressure.ventr_sys_ejc_period %>
  </li>

  <li>
    <strong>Sao2 ivc:</strong>
    <%= @sats_pressure.sao2_ivc %>
  </li>

  <li>
    <strong>Sat pres hb:</strong>
    <%= @sats_pressure.sat_pres_hb %>
  </li>

  <li>
    <strong>Ivc pres sys:</strong>
    <%= @sats_pressure.ivc_pres_sys %>
  </li>

  <li>
    <strong>Pcw pres c:</strong>
    <%= @sats_pressure.pcw_pres_c %>
  </li>

  <li>
    <strong>Aortic pres sys:</strong>
    <%= @sats_pressure.aortic_pres_sys %>
  </li>

  <li>
    <strong>Uni bsa:</strong>
    <%= @sats_pressure.uni_bsa %>
  </li>

  <li>
    <strong>Pcw pres mean:</strong>
    <%= @sats_pressure.pcw_pres_mean %>
  </li>

  <li>
    <strong>Ra pres h:</strong>
    <%= @sats_pressure.ra_pres_h %>
  </li>

  <li>
    <strong>Pa pres sys na:</strong>
    <%= @sats_pressure.pa_pres_sys_na %>
  </li>

  <li>
    <strong>Ra pres dias:</strong>
    <%= @sats_pressure.ra_pres_dias %>
  </li>

  <li>
    <strong>Sao2 rv outflow:</strong>
    <%= @sats_pressure.sao2_rv_outflow %>
  </li>

  <li>
    <strong>Ra pres a:</strong>
    <%= @sats_pressure.ra_pres_a %>
  </li>

  <li>
    <strong>Pa left pres dias:</strong>
    <%= @sats_pressure.pa_left_pres_dias %>
  </li>

  <li>
    <strong>Ra pres z:</strong>
    <%= @sats_pressure.ra_pres_z %>
  </li>

  <li>
    <strong>Uni qp qs:</strong>
    <%= @sats_pressure.uni_qp_qs %>
  </li>

  <li>
    <strong>Pa pres mean na:</strong>
    <%= @sats_pressure.pa_pres_mean_na %>
  </li>

  <li>
    <strong>Sat pres oxygen consumption:</strong>
    <%= @sats_pressure.sat_pres_oxygen_consumption %>
  </li>

  <li>
    <strong>Lv pres mean:</strong>
    <%= @sats_pressure.lv_pres_mean %>
  </li>

  <li>
    <strong>Sao2 ao distal:</strong>
    <%= @sats_pressure.sao2_ao_distal %>
  </li>

  <li>
    <strong>Sao2 pcw:</strong>
    <%= @sats_pressure.sao2_pcw %>
  </li>

  <li>
    <strong>Ivc pres dias:</strong>
    <%= @sats_pressure.ivc_pres_dias %>
  </li>

  <li>
    <strong>Lv pres end dias:</strong>
    <%= @sats_pressure.lv_pres_end_dias %>
  </li>

  <li>
    <strong>Pa pres dias:</strong>
    <%= @sats_pressure.pa_pres_dias %>
  </li>

  <li>
    <strong>Sao2 ra low:</strong>
    <%= @sats_pressure.sao2_ra_low %>
  </li>

  <li>
    <strong>Sat pres notes:</strong>
    <%= @sats_pressure.sat_pres_notes %>
  </li>

  <li>
    <strong>Ra pres c:</strong>
    <%= @sats_pressure.ra_pres_c %>
  </li>

  <li>
    <strong>Ra pres sys:</strong>
    <%= @sats_pressure.ra_pres_sys %>
  </li>

  <li>
    <strong>Sao2 ra high:</strong>
    <%= @sats_pressure.sao2_ra_high %>
  </li>

  <li>
    <strong>Sao2 svc high:</strong>
    <%= @sats_pressure.sao2_svc_high %>
  </li>

  <li>
    <strong>Rv pres mean:</strong>
    <%= @sats_pressure.rv_pres_mean %>
  </li>

  <li>
    <strong>Sao2 pa right:</strong>
    <%= @sats_pressure.sao2_pa_right %>
  </li>

  <li>
    <strong>Sao2 ao root:</strong>
    <%= @sats_pressure.sao2_ao_root %>
  </li>

  <li>
    <strong>Pcw pres y:</strong>
    <%= @sats_pressure.pcw_pres_y %>
  </li>

  <li>
    <strong>Pcw pres sys:</strong>
    <%= @sats_pressure.pcw_pres_sys %>
  </li>

  <li>
    <strong>Sat pulm veins:</strong>
    <%= @sats_pressure.sat_pulm_veins %>
  </li>

  <li>
    <strong>Sat pres start dt:</strong>
    <%= @sats_pressure.sat_pres_start_dt %>
  </li>

  <li>
    <strong>Sat pres start tm:</strong>
    <%= @sats_pressure.sat_pres_start_tm %>
  </li>

  <li>
    <strong>Sat pres end dt:</strong>
    <%= @sats_pressure.sat_pres_end_dt %>
  </li>

  <li>
    <strong>Sat pres end tm:</strong>
    <%= @sats_pressure.sat_pres_end_tm %>
  </li>

  <li>
    <strong>Ra pres y:</strong>
    <%= @sats_pressure.ra_pres_y %>
  </li>

  <li>
    <strong>Sat pres heart rate:</strong>
    <%= @sats_pressure.sat_pres_heart_rate %>
  </li>

  <li>
    <strong>Hepatic veins pres:</strong>
    <%= @sats_pressure.hepatic_veins_pres %>
  </li>

  <li>
    <strong>Patient:</strong>
    <%= @sats_pressure.patient_id %>
  </li>

  <li>
    <strong>Info coronary:</strong>
    <%= @sats_pressure.info_coronary_id %>
  </li>

</ul>

<span>
    <%= link "Edit Sats ", to: Routes.pt_angio_satpres_path(@conn, :edit, @patient,
  @info_coronary, @sats_pressure ), class: "button is-link"%>
</span>
<span>
  <%= link "Back To Sats Index", to: Routes.pt_angio_satpres_path(@conn, :index,
  @patient, @info_coronary) , class: "button is-link"%>
</span>
<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>


