<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
   <% coding_systems = [
      "SNOMED-CT": "SNOMED-CT",
      "LOINC": "LOINC",
      "HL7 Value Set": "HL7-SET",
      "CPT-CODE": "CPT-CODE",
      "RxNorm": "RXNORM",
      "NCI Thesaurus": "NCIT",
      "ACC-NCDR": "ACC-NCDR",
      "NCDR-SEQ": "NCDR-SEQ",
      "NCDR-ICD": "NCDR-ICD",
      "NCDR-PCI": "NCDR-PCI",
      "ICD10-CM": "ICD10-CM",
      "ICD10-PCS": "ICD10-PCS",
      "RADLEX": "RADLEX",
       "MESH": "MESH",
      "Social Security Num": "SSN",
      "UMLS": "UMLS",
      "NDFRT": "NDFRT",
      "MedDRA": "MedDRA",
      "NDC (Drug Codes)": "NDC-DRUG",
      "DOI": "DOI"
  ] %>

 



    <div class="columns frame_1">
  <div class="column is-4 " >
<div class="field">
     <label class="label">Coding System </label>
     <div class="control">
    <div class="select is-primary">
  <%= select(f, :code_system, coding_systems, prompt: "---Select---",
 class: "form-control")    %>
      <option>Coding Systems</option>

    </div><!--select---->
     </div><!--control---->
  </div><!---field--->

  </div><!----column------>
<div class="column is-4">
 <div class="field">
  <label class="label">Code</label>
  <div class="control">
    <%= text_input f, :code,
        class: "input",
type: "text", placeholder: "code"  %>
  <%= error_tag f, :code %>

  <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->


  </div><!----column------>
 <div class="column">
   <div class="field">
  <label class="label">Description </label>
  <div class="control">
    <%= text_input f, :description,
        class: "textarea",
        type: "input", placeholder: "description"  %>
        <%= error_tag f, :description %>

        <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->




  </div><!----column------>

</div><!----columna------>
<div class="columns">
  
<div class="column frame_2">

  <div class="field">
  <label class="label">Notes </label>
  <div class="control">
    <%= text_input f, :note,
        class: "textarea",
        type: "input", placeholder: "Your Notes"  %>
        <%= error_tag f, :note %>

        <p class="help"></p>

  </div><!---control---------->
   </div><!-------field-------->


  </div><!----column----->


</div><!----columna------>

  <div>
     <%= submit "Save and Continue", class: "button is-info is-large is-fullwidth " %>

  </div>
<% end %>
