<h4 class="title is-4 has-text-centered" >Listing Field Codes</h4>
<% alias Angio.Canons.Definition %>
<div class="element_info">
<%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
<table class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">

  <thead class="thead">
    <tr>
    <th>Field Name</th>
      <th>Coding System</th>
      <th>Code</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</>

    </tr>
  </thead>
  <tbody>
<%= for defs_code <- @defs_codes do %>
    <tr>
      <td><strong><%= @definition.name%></strong> </td>
      <td><%= defs_code.code_system %></td>
      <td><%= defs_code.code %></td>
      <td><%= raw defs_code.description %></td>
      <td>
       <span><%= link "Show", to: Routes.definition_defs_code_path(@conn, :show, @definition,defs_code), class: "button is-link is-small is-fullwidth" %></span>
      </td>
      
      <td>
         <span><%= link "Edit", to: Routes.definition_defs_code_path(@conn, :edit, @definition,defs_code), class: "button is-link is-small is-fullwidth" %></span>

      </td>

      <td>
         <span>
          <%= link "Delete", to: Routes.definition_defs_code_path(@conn, :delete, @definition, defs_code), method: :delete, data: [confirm: "Are you sure?"], class: "button is-danger is-small  is-fullwidth " %>

        </span>
      </td>

    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "New Code For Field",
      to: Routes.definition_defs_code_path(@conn, :new, @definition),
class: "button is-primary is-large is-fullwidth" %>

<%= link "To Definitions - Fields List", to: Routes.definition_path(@conn, :index),
       class: "button is-link"  %>

</span>


<span><%#= link "New Defs code", to: Routes.defs_code_path(@conn, :new) %></span>
