

<div class="element_info">
New Definition Codes
<%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>

</div>

 <%= render "form.html", changeset: @changeset, definition: @definition,
        action: Routes.definition_defs_code_path(@conn, :create, @definition) %>

<%= link "Back To  Codes  List", to: Routes.definition_defs_code_path(@conn, :index, @definition) , class: "button is-primary is-medium"%>


<span><%#= link "Back To Definition Codes ", to: Routes.defs_code_path(@conn, :index), class: "button is-primary" %></span>
