<h4 class="title is-4 has-text-centered">Showing Field Codes</h4>

<div class="element_info">
  
    <%= render  AngioWeb.SharedView,
    "_definition_info.html", definition: @definition %>
    </div>

<ul class="frame_1">

  <li>
    <strong>Code system:</strong>
    <%= @defs_code.code_system %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @defs_code.code %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= raw @defs_code.description %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= raw @defs_code.note %>
  </li>

  <li>
<h1>Show Defs option</h1>
    <strong>Definition ID:</strong>
    <%= @defs_code.definition_id %>
  </li>

</ul>
<span><%= link "Edit", to: Routes.definition_defs_code_path(@conn, :edit, @definition, @defs_code), class: "button is-link "%></span>

</span>
<%= link "Back To Definition Codes  List", to: Routes.definition_defs_code_path(@conn, :index, @definition) , class: "button is-link"%>
</span>
