<% alias Angio.Cath%>
<h4 class="title is-4">New Medications  Record</h4>
<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<%= render "form.html", changeset: @changeset, action:
Routes.pt_angio_cathmed_path(@conn, :create, @patient, @info_coronary) %>
<%=link "Back To Medications Index ", to: Routes.pt_angio_cathmed_path(@conn, :create,
@patient, @info_coronary), class: "button is-primary"%>

<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-primary"   %>
 </span>
