<div class="title_form">
<h4 class="title is-4 has-text-centered">Edit Patient</h4>
</div>
<%= render "form.html", Map.put(assigns, :action,
Routes.pt_path(@conn, :update, @patient)) %>

<span>
    <%= link "Back To Patient List", to: Routes.pt_path(@conn, :index), class: "button is-link" %>
</span>
