 <% alias Angio.Canons, as: Query %>
 <div class="title_form">
 <h4 class="title is-4 has-text-centered">
  Search  Patients
</h4>
</div>

<div class="columns columns  is-centered frame_2 ">

  <div class="column is-2">
<span class="has-form">
   <%= form_for @conn, Routes.patient_path(@conn, :search_patients), [as: :search_patients], fn f -> %>

 <div class="field">
     <label class="label">Select Search </label>

     <div class="control">
    <div class="select is-primary">
      <%= select(f, :selection,
 ["Last Names": "last_name",
  "Social Security Num": "ssn",
     ],
class: "form-control")    %>

    </div><!--select---->
     </div><!--control---->
  </div><!---field--->

    </span>

  </div><!--column---------->

  <div class="column is-4">
  <label class="label"> Your Query  </label>
  <div class="control">
    <%= text_input f, :query, class: "input",
           type: "text", placeholder: "Text input"  %>
   <%= error_tag f, :query %>
  </div>

  </div> <!--column----->

  <div class="column is-2">
 <label class="label">Search  </label>
   <%= submit "Search", class: "button  is-primary is-fullwidth"  %>
</div>

<% end %>

</div><!--columns------>
 <hr class="style18">

</div>

<div class="title_form">
 <h5 class="title is-5 has-text-centered">
  List Of Patients
</h5>

</div>


<table class="
table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable
  ">
  <thead class="thead">
    <tr>
      <th>Last Name</th>
      <th>First name</th>
      <th>Gender</th>
      <th>Middle name</th>
      <th>Birth Date</th>
      <th>SSN</th>
      <th>Is Active Record? </th>
      <th>
      
             <span>
         <i class="fa fa-sign-in"
          style="font-size:20px;color:#053eff;text-align:center;">
          </i>
         </span>
         Enter Cath Lab 
      
      </th>
      <th>Show</th>
 <th>Edit</th>
 <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<%= for patient <- @patients do %>
    <tr>
      <td> <strong>
          <%= patient.patnts_last_name %>
          </strong>
      </td>
      <td><%= patient.patnts_first_name %></td>
      <td><%= patient.patnts_gender %></td>
      <td><%= patient.patnts_middle_name %></td>
      <td><%= patient.patnts_birth_dt %></td>
      <td><%= patient.patnts_ssn %></td>
      <td>
      
       <%=  Query.convert_true_false(patient.patnts_record_active) %>
      
      
      </td>
      <td>

        <%= link  to: Routes.pt_angio_path(@conn, :index, patient),
class: "button is-primary is-small is-fullwidth" do  %>
<%= render  AngioWeb.SharedView,
 "_info_coronary_count.html",
  patient: patient %>
           <%end%>

        </td>

      <td>

        <%= link "Show", to: Routes.pt_path(@conn, :show, patient), class: "button is-primary is-small"  %>
      </td>
    <td>
        <%= link "Edit", to: Routes.pt_path(@conn, :edit, patient), class: "button is-primary is-small"  %>
        </td>
        <td>
        <%= link "Delete", to: Routes.pt_path(@conn, :delete, patient), method: :delete, data: [confirm: "Are you sure?"], class: " button is-danger is-small"  %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "New Patient",
to: Routes.pt_path(@conn, :new),
class: "button is-primary is-large is-fullwidth"  %>
</span>
