
<h4 class="title is-4">New Patient Demographics</h4>
<%= render "form.html", Map.put(assigns, :action,
Routes.pt_path(@conn, :create)) %>

<span><%= link "Back To Patient List", to: Routes.pt_path(@conn, :index), class: "button is-primary" %></span>
