<%alias Angio.Canons,  as: Query %>

<h4 class="title is-4 has-text-centered" >Showing Patient</h4>
<ul>

  <li>
    <strong>Patnts last name:</strong>
    <%= @patient.patnts_last_name %>
  </li>

  <li>
    <strong>Patnts first name:</strong>
    <%= @patient.patnts_first_name %>
  </li>

  <li>
    <strong>Patnts gender:</strong>
    <%= @patient.patnts_gender %>
  </li>

  <li>
    <strong>Patnts middle name:</strong>
    <%= @patient.patnts_middle_name %>
  </li>

  <li>
    <strong>Patnts father name:</strong>
    <%= @patient.patnts_father_name %>
  </li>

  <li>
    <strong>Patnts mother name:</strong>
    <%= @patient.patnts_mother_name %>
  </li>

  <li>
    <strong>Patnts birth dt:</strong>
    <%= @patient.patnts_birth_dt %>
  </li>

  <li>
    <strong>Patient other:</strong>
    <%= @patient.patient_other_id %>
  </li>

  <li>
    <strong>Patnts ssn:</strong>
    <%= @patient.patnts_ssn %>
  </li>

  <li>
    <strong>Patnts ssn na:</strong>
    <%= @patient.patnts_ssn_na %>
  </li>

  <li>
    <strong>Patnts deceased:</strong>
    <%= @patient.patnts_deceased %>
  </li>

  <li>
    <strong>Patnts record active:</strong>
    <%= @patient.patnts_record_active %>
  </li>

  <li>
    <strong>Patnts ethnicity hispanic:</strong>
    <%= @patient.patnts_ethnicity_hispanic %>

  </li>
   <li>
    <strong>Patnts language preferred:</strong>
    <%= @patient.patnts_language_preferred %>
  </li>

   <li>
  <% s_patnts_race =
           Query.select_options("patnts_race") %>
           <% v_patnts_race =
            @patient.patnts_race  %>
            <strong> Race :
            <%= raw(Query.convert_select_key(s_patnts_race,
             v_patnts_race) ) %>
            </strong>
  </li>



  <li>
    <strong>Patnts uuid:</strong>
    <%= @patient.patnts_uuid %>
  </li>

  <li>
    <strong>Patnts notes:</strong>
    <%= raw @patient.patnts_notes %>
  </li>



</ul>


<div class =" frame_1">
<h4 class="title is-4 has-text-centered" >Showing Patient Test Report In English</h4>
  <%= raw Angio.Canons.Report.make_patient_report(@patient.id, "en") %>
</div>


<div class ="frame_1">
<h4 class="title is-4 has-text-centered" >Showing Patient Test Report In Greek</h4>
  <%= raw Angio.Canons.Report.make_patient_report(@patient.id, "el") %>
</div>

<span><%= link "Edit Patient", to: Routes.pt_path(@conn, :edit, @patient), class: "button is-link " %></span>
<span><%= link "Back To Patient List", to: Routes.pt_path(@conn, :index), class: "button is-link " %></span>
