<nav class="navbar is-primary has-shadow">
      <div class="container">

        <div class="navbar-brand">
        <div class="level-item has-text-centered">
        </div>

<a class="navbar-item" href="#" style="font-weight:bold;">
  Angio System
           </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">
                Home
            </a>

           <a href="/patients"class="navbar-item">
           
            <strong>System Entrance</strong> 
            
          
      </a>
     
        </div>

<!--------------------------------------->
<div class="navbar-item">
 

<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Utility Tables</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu is-primary" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <a href="/definitions "class="navbar-item button is-primary is-small">
            Fields Pick-lists</a>
          </div>
<div class="dropdown-item">
        <a href="/defs_tables "class="navbar-item button is-primary is-small">
            Angio Tables</a>
          </div>
    </div>
  </div>
</div>

<!---------------------------------------->
      </div>
      
    </nav>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
  <!---
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar_angio" class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item">
<a href="/">Home</a>
      </span>

      <a class="navbar-item">

        For Angio Menu
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">
           <a href="/definitions" >
             Pick-Up  Elements List

          </a>
        </span>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
  </nav>
  -->



