<div class="title_form">
<h4 class="title is-4 has-text-centered">List Of Coronary Lesions</h4>
</div>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<div class="element_info_coronary">
Angio : <%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>




<% alias Angio.Canons, as: Query %>
<div class="columns">
  <div class="column is-2">
 <%#= render  AngioWeb.SharedView, "_menu_info_coronary.html",
conn: @conn, patient: @patient, info_coronary: @info_coronary %>
<%= render  AngioWeb.SharedView, "_menu_info_coronary.html", assigns %>

  </div><!----column-------------------->
<div class="column is-10 frame_2">

<table
  class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable"
>
  <thead class="thead">
    <tr>
    <th>Cor Segment</th>
      <th>Stenosis (%)</th>
      <th>Major Vessels</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= for cor_lesion <- @cor_lesions do %>
    <tr>
    <td>
    <%= cor_lesion.cor_les_seg_cdisc%>
    </td>
      <td><%= cor_lesion.cor_les_pct %></td>
      <td><%= cor_lesion.cor_les_major_branch %></td>

      <td>
        <%= link "Show",
        to: Routes.pt_angio_lesion_path(@conn, :show, @patient,
        @info_coronary, cor_lesion), class: "button is-primary is-small" %>
      </td>
      <td>
        <%= link "Edit", to: Routes.pt_angio_lesion_path(@conn, :edit, @patient,
        @info_coronary, cor_lesion), class: "button is-primary is-small" %>
      </td>
      <td>
        <%= link "Delete", to: Routes.pt_angio_lesion_path(@conn, :delete,
        @patient, @info_coronary, cor_lesion), method: :delete, data: [confirm:
        "Are you sure?"], class: "button is-small is-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div><!-------column-------------------->
</div><!-----columns------------------->


<span>
<%= link "New Lesion ", to: Routes.pt_angio_lesion_path(@conn, :new,
  @patient, @info_coronary), class: "button is-info is-large is-fullwidth" %>
  </span>

  <span>
  <%= link "To Patient List", to: Routes.pt_path(@conn, :index), class: "button
  is-link" %>
</span>

<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>


