$white_smoke: #ffffff;
$white: #fff;
$alert_a: #fc8d59;
$blue: #0066ff;
$blueBrighter: #70b8ff !default;
$turquoiseBrighter: #80ffe6 !default;

$black_true: #000;
$primary-color: #1779ba;
$secondary-color: #767676;
$primary: #1779ba;
$secondary: #767676;
$success_color: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
$form_header_bg: #dbd7d2;
$blueAirforce: #5d8aa8 !default;
$gray_cool: #8c92ac !default;
$purpleBoot: #7a43b6 !default;
$purpleLighter: #c2a3ff !default;

$azure: hsl(180, 100%, 97%);
$limegreen: hsl(120, 60%, 50%);
$orangered: hsl(16, 100%, 50%);
$skyblue: hsl(197, 71%, 73%);
$steelblue: hsl(207, 44%, 49%);
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$peachShimmer: #fdefe2 !default;
$yellowBrighter: #ffff66 !default;

$title-color: #5c677b;  //gray;

$input-border-color: transparent;
$input-shadow: $orangered;
$input-background-color: $beige-lighter;


$table-row-hover-background-color: $skyblue;
$divider-background-color: $steelblue;
$divider-thickness: 15rem;
$divider-color: $limegreen;
// Add a serif family
$family-serif: 'Merriweather', 'Georgia', serif;

$footer-background-color:#FFCC99 ;//$beige-light;//$blueBrighter;//#999;//$peachShimmer;
$footer-padding: 2rem 1.5rem 1rem;

@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.help {
  color: #000;
}


/*
$primary: $skyblue;
$info: $steelblue;
$success: $limegreen;
$warning: hsl(48, 89%, 60%);
$danger: $orangered;
$title-color:#0570b0;
$control-border-width: 2px;
$input-border-color: transparent;
*/

/*
$box-background-color: #e6e6e6;

// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$danger: $orangered;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;

*/

.element_info {
  //background-color:#3949AB; // #375A7F;//#F65314;//#6d0c74;//#990033;//$steelblue;
  background-color:#9a1267; //#990033;//$steelblue;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
    inset 0 0.063em rgba(255, 255, 255, 0.4),
    inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: $white;
  text-transform: uppercase;
  text-shadow: 0 0.063em #000;
  font: bold 1.1rem sans-serif;
  padding: 10px;
  text-align: center;
  margin-bottom: 8px;
}

.element_info_coronary {
  background-color:#ddd ;//#006699;//#7CBB00;//#7f78d2;//#0074D9;//#3D9970;//#1F7A1F;//#990033;//$steelblue;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
    inset 0 0.063em rgba(255, 255, 255, 0.4),
    inset 0 -0.188em rgba(0, 0, 0, 0.15);
  

  text-transform: uppercase;
  text-shadow: 0 0.063em #000;
  font: bold 0.9rem sans-serif;
  padding: 7px;
  text-align: center;
  margin-bottom: 25px;
}

body {

  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"helvetica","Roboto",sans-serif;
    font-size:14px;
    line-height:1.5;
    background-color: #f7f7f7;//#f0f0f0
  //  font-family: 'Roboto Slab', serif;
}

.navbar {
  margin-bottom: 20px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}
.frame_1 {
	border: 4px $brown;// #004aff;//#000;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 14px;
  margin: 5px;
  border-style: double;
  @include border-radius(8px);
  margin-bottom: 2px;
}

.frame_2 {
  border-top-style: double;
  border-bottom-style: double;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-color:#708090;//#A16740;// #7cbfcf;
  border-bottom-color:#708090;//#A16740;// #7cbfcf;
  border-top-width: 8px;
  border-bottom-width: 8px;
}
.frame_3 {
  border: 2px solid $purple;
  background-color: $white_smoke;
  //background-color: $purpleLighter;
  //background-color: $yellowBrighter;
  //background-color: #fffa32;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 2px;
  //overflow: show;
  overflow-x: scroll;
  overflow-y: scroll;

  @include border-radius(8px);
}
hr.style18 {
  height: 15px;
  border-style: solid;
  // border-color: #8c8b8b;
  border-color: $purpleBoot;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: '';
  height: 15px;
  margin-top: -31px;
  border-style: solid;
  //  border-color: #8c8b8b;
  border-color: $purpleBoot;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.info_message {
  //  @include alpha-background-color($whiteAntiflash, $grayCadet);
  background-color: #000;
  //color: #002966;
  color: #fff;
  border: 1px solid;
  margin: 10px 0px;
  padding: 7px 5px 7px 5px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-size: rem-calc(24);
  font-weight: 600;
  min-height: rem-calc(45);
  text-align: left;
  &.info_res_empty {
    color: #9f6000;
    background-color: #eee;
  }
}
//////////////////////////////
input[type='checkbox'] {
  width: 25px;
  height: 25px;

}
.select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-bottom: 40px;
}


.select select {
  display: inline-block;
  width: 100%;
  padding: 1px 2px;
  cursor: pointer;
  color: #7b7b7b;

  border: 0;
  border-radius: 0;
  outline: 0;
  background: #e6e6e6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.option {
  background-color: 'gray';
  text-align: center;
  font-weight: bolder;
  font-size: rem-calc(16);
  padding: rem-calc(2);
  color: $white_smoke;
  word-wrap: break-word;
  span {
    color: $white;
    width: 100%;
  }
}

.important_column {
  //background-color:#f7f7f7;
  background-color: $skyblue;
}


.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  left: 1px;
  position: absolute;
  //top: 100%;
  z-index: 1000;
}

.dropdown.is-open {
  display: block;
  
}
.dropdown-menu{
border: 2px solid gray;
   
}


.field_name {

  text-align: center;

}

.title_form{
  background:#ddd;// #91CEFF;//#d5f4e6;//"yellow" ;
  padding: 7px 5px 7px 5px;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
    inset 0 0.063em rgba(255, 255, 255, 0.4),
    inset 0 -0.188em rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;

} 

.label_info{
  padding: 2px;
  cursor: pointer;

}
.info_res_logo{
  color:#000;
  font-weight:600; 
  font-size: "18px";
}
.nothing_found{
  color: #fff;//	#4B0082; //#000;
  font-weight:600; 
  font-size: "18px";
  background:#8A2BE2;
  padding: 7px 5px 7px 5px;
}
