<% alias  Angio.Caths%>
<% info_coronary_count =  
    Caths.count_info_coronary(@patient.id) %>
<%= if  info_coronary_count > 0 do %>
  <span class="tag is-small is-success">
    <strong><%=  info_coronary_count %></strong>
  </span>
<% else %>
  <span class="tag is-small is-danger">
    <%=  info_coronary_count %>
  </span>
<% end %>

