
<div class="title_form">
<h4 class="title is-4 has-text-centered">Form For an Option Sentence  Pick-List Item</h4>
</div><!---title form------------------->
<div class="element_info">
    Option   <%= "#{@defs_option.selection_text}" %>
    <br>
    Of <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
      
      <%= render "form.html", changeset: @changeset,
      languages: @languages,
        action: Routes.definition_defs_option_opts_sentence_path(@conn, :create, @definition, @defs_option)  %>
      <span>
        
        <%= link "Back To Options Sentences", to:  Routes.definition_defs_option_opts_sentence_path(@conn, :create,
            @definition, @defs_option),  class: "button is-primary"%>

    </span>

    
