
<div class="title is-4 has-text-centered">
      <p>Editing Field </p>
    </div>

<div class="element_info">

    <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition, table: @definition.table_name %>
</div>


<%= render "form.html",
    Map.put(assigns, :action,
Routes.definition_path(@conn, :update,
@definition)) %>



<div><%= link "Back Definitions List", to: Routes.definition_path(@conn, :index), class: "button is-link"%>
</div>
