<h4 class="title is-4">New Field - Definition</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.definition_path(@conn, :create)) %>

<span><%= link "Back Fields Index", 
 to: Routes.definition_path(@conn, :index), class: "button is-link " %></span>
