<div class="element_info">
    Showing Definition :
    <%= render  AngioWeb.SharedView,
    "_definition_info.html", definition: @definition %>
    </div>


<ul>

  <li>
    <strong>Definition:</strong>
    <%= @definition.definition_id %>
  </li>

  <li>
    <strong>Table name:</strong>
    <%= @definition.table_name %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @definition.name %>
  </li>

  <li>
    <strong>Coding instructions:</strong>
    <%=raw @definition.coding_instructions %>
  </li>

  <li>
    <strong>Target value:</strong>
    <%= raw @definition.target_value %>
  </li>

  <li>
    <strong>Short name:</strong>
    <%= @definition.short_name %>
  </li>

  <li>
    <strong>Support definition:</strong>
    <%= raw @definition.support_definition %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= raw @definition.notes %>
  </li>

  <li>
    <strong>Ref:</strong>
    <%= @definition.ref %>
  </li>

  <li>
    <strong>Vocabulary en:</strong>
    <%= @definition.vocabulary_en %>
  </li>

  <li>
    <strong>Title name:</strong>
    <%= @definition.title_name %>
  </li>

  <li>
    <strong>Default value:</strong>
    <%= @definition.default_value %>
  </li>

  <li>
    <strong>Usual range:</strong>
    <%= @definition.usual_range %>
  </li>

  <li>
    <strong>Valid range:</strong>
    <%= @definition.valid_range %>
  </li>

  <li>
    <strong>Data source:</strong>
    <%= @definition.data_source %>
  </li>

  <li>
    <strong>Defs table:</strong>
    <%= @definition.defs_table_id %>
  </li>

</ul>

<span><%= link "Edit Field",
 to: Routes.definition_path(@conn, :edit, @definition), class: "button is-primary" %></span>

<span><%= link "Back To Element List",
to: Routes.definition_path(@conn, :index), class: "button is-primary" %></span>

<span>
 <%= link   to: Routes.definition_defs_sentence_path(@conn, :index, @definition),
class: "button is-primary" do   %>
 <span>
    Field Sentences For Report  
   </span>

   <span>
   <%= render  AngioWeb.SharedView, "_defs_phrases_count.html", definition: @definition %>
  </span>
   <%end%>
 
</span>