


<h4 class="title is-4 has-text-centered">Editing Field Option</h4>

<div class="element_info">
  
    <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
  <%= render "form.html", changeset: @changeset,
        definition: @definition,
        action: Routes.definition_defs_option_path(@conn, :update, @definition, @defs_option ) %>

        <span>
<%= link "Back To Field Options  List", to: Routes.definition_defs_option_path(@conn, :index, @definition) , class: "button is-link "%>

</span>



<span><%#= link "Back", to: Routes.defs_option_path(@conn, :index) %></span>
