<% alias Angio.Canons.Definition %>

<h4 class="title is-4 has-text-centered" >

Listing Field Options - Pick-list Elements</h4>
<div class="element_info">
<%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
<span class="icon">
  <i class="fa fa-list-alt fa-2x"></i>
</span>
<table class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">
                
  <thead class="thead">
    <tr>
    <th>defs_options.id</th>
      <th>Field Name</th>
      <th>Code</th>
       <th>Select text</th>
       <th>Description</th>
       <th>Option Sentences</th>
      <th>Option Codes</th>
      <th>Show</th>
      <th>Edit</th>
    
      <th>Delete</>
    </tr>
  </thead>
  <tbody>
<%= for defs_option <- @defs_options do %>
  <tr>
   <td><em><%= defs_option.id %> </em> </td>
      <td><strong><%= defs_option.name %> </strong> </td>
      <td><%= defs_option.code %></td>
      <td><em><%= raw defs_option.selection_text %> </em> </td>
     <td><%= raw defs_option.selection_definition %>  </td>
   <td>

<%= link  to: Routes.definition_defs_option_opts_sentence_path(@conn, :index, @definition, defs_option),
    class: "button is-primary is-small is-info is-fullwidth"  do %>

    <%= render  AngioWeb.SharedView, "_opts_sentences_count.html", defs_option: defs_option %>
    <%end%>
   </td>
   
     <td>

   <%= link  to: Routes.definition_defs_option_opts_code_path(@conn, :index, @definition, defs_option),
    class: "button is-primary is-small is-info is-fullwidth"  do %>

    <%= render  AngioWeb.SharedView, "_opts_codes_count.html", defs_option: defs_option %>
    <%end%>

</td>
      <td>
     <span><%= link "Show", to: Routes.definition_defs_option_path(@conn, :show, @definition,defs_option), class: "button is-primary is-small is-fullwidth" %></span>

      </td>
      <td>
 <span><%= link "Edit", to: Routes.definition_defs_option_path(@conn, :edit, @definition,defs_option), class: "button is-primary is-small is-fullwidth " %></span>
       </td>
                </td>
    

       <td>
    <span>
 <%= link "Delete", to: Routes.definition_defs_option_path(@conn, :delete, @definition, defs_option), method: :delete, data: [confirm: "Are you sure?"], class: " button is-danger is-small  is-fullwidth" %>
        </span>
  </td>
    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "New Option - Pick-List Element",
      to: Routes.definition_defs_option_path(@conn, :new, @definition),
class: "button is-info is-large is-fullwidth" %>
</span>
<span>
<%= link "To Field List", to: Routes.definition_path(@conn, :index),
       class: "button is-link"  %>

</span>

