<h4 class="title is-4 has-text-centered">Showing Definition Pick-Lists Option</h4>
<div class="element_info">
   
    <%= render  AngioWeb.SharedView,
    "_definition_info.html", definition: @definition %>
    </div>

<ul class="frame_1">

  <li>
    <strong>Name:</strong>
    <%= @defs_option.name %>
  </li>

  <li>
    <strong>Saved In Database as Code : </strong>
    <%= @defs_option.code %>
  </li>

  <li>
    <strong>Selection text:</strong>
    <%= raw @defs_option.selection_text %>
  </li>

  <li>
    <strong>Selection definition:</strong>
    <%= raw @defs_option.selection_definition %>
  </li><li>
    <strong>Notes:</strong>
    <%= raw  @defs_option.selection_notes %>
  </li>
  <li>
    <strong> Defs Option ID :</strong>
    <%= @defs_option.id %>
  </li>

<li>
    <strong>Definition ID:</strong>
    <%=  @defs_option.definition_id %>
  </li>


</ul>


<span><%= link "Edit Field  Option Item", to: Routes.definition_defs_option_path(@conn, :edit, @definition, @defs_option), class: "button is-link"%></span>

</span>
<%= link "Back To Field Pick-List", to: Routes.definition_defs_option_path(@conn, :index, @definition) , class: "button is-link"%>
</span>

