<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-3">
         Angio System For  Cath Lab
      </h3>

      <h3 class="subtitle">
        Based On Standard 
        <strong>
          Definitions and Contolled Vocabularies
        </strong>
      </h3>
    </div>
  </div>
 </section>


<section>
  <div class='column is-one-half has-text-centered'>
    <div class='card equal-height'>
      <div class='card-content'>
<!-- Place image inside .level within your card element -->
        <nav class="level">
<span>
  <i class="fa fa-home"
    style="font-size:80px;color:#006652;"></i>
</span>
          <div class="level-item has-text-centered">

            <figure class='image is-128x128'>
              <img src="images/heart_diagram.jpg" />
            </figure>

          </div>
          <span>
            <i class="fa fa-home" 
              style="font-size:80px;color:#006652;"></i>
</span>

          <!-- And it'll be centered like so -->
      </div>
    </div>
  </div>
</section>
