
<div class="title_form">
<h4 class="title is-4 has-text-centered">Editing Complications</h4>
</div>
<div class="element_info">
    Patient :
    <%= render  AngioWeb.SharedView, "_patient_info.html", patient: @patient %>
</div>

<div class="element_info_coronary">
Angio : <%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>






 <%= render "form.html", changeset: @changeset,
        cath_event: @cath_event,
action: Routes.pt_angio_event_path(@conn, :update, @patient, @info_coronary,
@cath_event ) %>

        <span>
          <%= link "Back To Events Index", 
  to: Routes.pt_angio_event_path(@conn, :index,
@patient,@info_coronary) , class: "button is-link "%>
</span>
<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>
