<% alias Angio.Cath%>
<h4 class="title is-4">New Episode of Care</h4>
<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<%= render "form.html", changeset: @changeset, action:
Routes.pt_angio_episode_path(@conn, :create, @patient, @info_coronary) %>
<%=link "Back To Episode Index", to: Routes.pt_angio_episode_path(@conn, :create,
@patient, @info_coronary), class: "button is-primary"%>


