<div class="title_form">
<h4 class="title is-4 has-text-centered">Editing Sentence  For a Field</h4>
</div>
  <div class="element_info">
    
    <%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
  <%= render "form.html", changeset: @changeset,
        definition: @definition,
        languages: @languages,
        action: Routes.definition_defs_sentence_path(@conn, :update, @definition, @defs_sentence ) %>

        <span>
<%= link "Back To Definition Phrases  List", to: Routes.definition_defs_sentence_path(@conn, :index, @definition) , class: "button is-link "%>
</span>
