
<% alias Angio.Canons.Definition %>
<% alias Angio.Canons.Language %>


<h4 class="title is-4 has-text-centered" >Listing Sentences in Different Languages</h4>

<div class="element_info">
<%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>
</div>
<span class="icon">
  <i class="fa fa-language fa-2x"></i>
</span>
<table class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable">

  <thead class="thead">
    <tr>
      <th>Language</th>
      <th>Sentence</th>
      <th>Show</th>

      <th>Edit</th>

      <th>Delete</th>
    </tr>
  </thead>
  <tbody class="tbody">
<%= for defs_sentence <- @defs_sentences do %>
    <tr>
      <td><%= defs_sentence.language %></td>
      <td><em><%= raw defs_sentence.sentence %></em></td>

      <td>
            <span><%= link "Show", to: Routes.definition_defs_sentence_path(@conn, :show, @definition,defs_sentence), class: "button is-link is-small" %></span>
      </td>
      <td>
     <span><%= link "Edit", to: Routes.definition_defs_sentence_path(@conn, :edit, @definition,defs_sentence), class: "button is-primary is-small" %></span>

      </td>
      <td>

        <span>
          <%= link "Delete", to: Routes.definition_defs_sentence_path(@conn, :delete, @definition, defs_sentence), method: :delete, data: [confirm: "Are you sure?"], class: "button is-danger  is-small" %>

        </span>

      <td>

        </td>

    </tr>
<% end %>
  </tbody>
</table>

<span>
<%= link "New Phrase - Sentence For Field",
      to: Routes.definition_defs_sentence_path(@conn, :new, @definition),
class: "button is-info is-large is-fullwidth" %>
</span>

<span>
<%= link "Back  List of Fields", to: Routes.definition_path(@conn, :index),
       class: "button is-link"  %>
</span>

<span>
<%= link "Back To Field Options", to: Routes.definition_defs_option_path(@conn, :index,@definition),
       class: "button is-link"  %>
</span>


