<div class="element_info">
New Definition Sentence
<%= render  AngioWeb.SharedView, "_definition_info.html", definition: @definition %>

</div>

 <%= render "form.html", changeset: @changeset, definition: @definition,
        languages: @languages,
        action: Routes.definition_defs_sentence_path(@conn, :create, @definition) %>


<%= link "Back To  Phrases  List", to: Routes.definition_defs_sentence_path(@conn, :index, @definition) , class: "button is-link"%>

