<h4 class="title is-4 has-text-centered">Show Sentence  For a Field</h4>
<div class="element_info">
    Field Phrase:
    <%= render  AngioWeb.SharedView,
    "_definition_info.html", definition: @definition %>
    </div>
<ul>

  <li>
    <strong>Language:</strong>
    <%= @defs_sentence.language %>
  </li>

  <li>
    <strong>Sentence:</strong>
    <%= raw @defs_sentence.sentence %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= raw @defs_sentence.note %>
  </li>

  <li>
    <strong>Definition:</strong>
    <%= @defs_sentence.definition_id %>
  </li>

</ul>
<span><%= link "Edit", to: Routes.definition_defs_sentence_path(@conn, :edit, @definition, @defs_sentence), class: "button is-link"%>

  <%= link "Back To Definition Phrases  List", to: Routes.definition_defs_sentence_path(@conn, :index, @definition) , class: "button is-link"%>

</span>
