
<div class="title_form">
<h4 class="title is-4 has-text-centered">Left Ventricles Index</h4>
</div>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>





<% alias Angio.Canons, as: Query %>
<div class="columns">
  <div class="column is-2">
<%= render  AngioWeb.SharedView, "_menu_info_coronary.html", assigns %>

  </div><!----column-------------------->
<div class="column is-10 frame_2">



<table
  class="table is-bordered
                    is-striped
                    is-full-width
                    is-hoverable"
>
  <thead class="thead">

    <tr>
      <th>LV Normal?</th>
      <th>EF</th>
      <th>Show</th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
<%= for lventricle <- @lventricles do %>
    <tr>
      <td>
      
       <%=  Query.convert_true_false(lventricle.cath_lv_normal_yn) %>
      <%#= lventricle.cath_lv_normal_yn %>
      </td>
      <td><%= lventricle.cath_lv_ef_val %></td>

      <td>
        <%= link "Show", to: Routes.pt_angio_lv_path(@conn, :show, @patient, @info_coronary,
          lventricle), class: "button is-primary is-small" %>

      </td>

      <td>
 <%= link "Edit", to: Routes.pt_angio_lv_path(@conn, :edit, @patient,
        @info_coronary, lventricle), class: "button is-primary is-small" %>


        <%#= link "Edit", to: Routes.lventricle_path(@conn, :edit, lventricle) %>
      </td>

       <td>
          <%= link "Delete", to: Routes.pt_angio_lv_path(@conn, :delete,
        @patient, @info_coronary, lventricle), method: :delete, data: [confirm:
        "Are you sure?"], class: "button is-small is-danger" %>

       </td>
    </tr>
<% end %>
  </tbody>
</table>
</div><!-------column-------------------->
</div><!-----columns------------------->
<span><%= link "Insert Once - Add New LV Record  ",
      to: Routes.pt_angio_lv_path(@conn, :new,
  @patient, @info_coronary), class: "button is-info is-medium is-fullwidth" %>

  <%= link "To Patient List", to: Routes.pt_path(@conn, :index), class: "button
  is-link" %>
</span>
<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>
