
<div class="title_form">
<h4 class="title is-4 has-text-centered"> Show LV </h4>
</div>

<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<div class="element_info_coronary">
<%= render AngioWeb.SharedView, "_info_coronary.html", info_coronary:
   @info_coronary%>
</div>
<div class="frame_1">
<ul>

  <li>
    <strong>Cath lv normal yn:</strong>
    <%= @lventricle.cath_lv_normal_yn %>
  </li>

  <li>
    <strong>Cath lv ef val:</strong>
    <%= @lventricle.cath_lv_ef_val %>
  </li>

  <li>
    <strong>Cath lv ef method:</strong>
    <%= @lventricle.cath_lv_ef_method %>
  </li>

  <li>
    <strong>Cath lv heart rate:</strong>
    <%= @lventricle.cath_lv_heart_rate %>
  </li>

  <li>
    <strong>Cath lv lv pres sys:</strong>
    <%= @lventricle.cath_lv_lv_pres_sys %>
  </li>

  <li>
    <strong>Cath lv lv pres end dias:</strong>
    <%= @lventricle.cath_lv_lv_pres_end_dias %>
  </li>

  <li>
    <strong>Cath lv mvr:</strong>
    <%= @lventricle.cath_lv_mvr %>
  </li>

  <li>
    <strong>Cath lv rao antero basal:</strong>
    <%= @lventricle.cath_lv_rao_antero_basal %>
  </li>

  <li>
    <strong>Cath lv rao antero lat:</strong>
    <%= @lventricle.cath_lv_rao_antero_lat %>
  </li>

  <li>
    <strong>Cath lv rao apical:</strong>
    <%= @lventricle.cath_lv_rao_apical %>
  </li>

  <li>
    <strong>Cath lv rao diaphragmatic:</strong>
    <%= @lventricle.cath_lv_rao_diaphragmatic %>
  </li>

  <li>
    <strong>Cath lv rao post basal:</strong>
    <%= @lventricle.cath_lv_rao_post_basal %>
  </li>

  <li>
    <strong>Cath lv lao basal septal:</strong>
    <%= @lventricle.cath_lv_lao_basal_septal %>
  </li>

  <li>
    <strong>Cath lv lao apical septal:</strong>
    <%= @lventricle.cath_lv_lao_apical_septal %>
  </li>

  <li>
    <strong>Cath lv lao post lat:</strong>
    <%= @lventricle.cath_lv_lao_post_lat %>
  </li>

  <li>
    <strong>Cath lv lao inf lat:</strong>
    <%= @lventricle.cath_lv_lao_inf_lat %>
  </li>

  <li>
    <strong>Cath lv lao super lat:</strong>
    <%= @lventricle.cath_lv_lao_super_lat %>
  </li>


</ul> 

</div>

<script type="text/javascript">
var CATH_LVETRICLE_DATA =  <%= raw Poison.encode!(%{cath_lventricle: @lventricle} ) %>
  </script>

  <!--
  <img   height="800px" src= "http://localhost:4000/images/lv_angio_segments.jpg" alt="slide image" class="float-center"/>
  -->
  <div id="d3_lv_button">
  </div>
  <div id="d3_lv_parent_canvas">

  </div>

<span>
    <%= link "Edit LV ", to: Routes.pt_angio_lv_path(@conn, :edit, @patient,
  @info_coronary, @lventricle ), class: "button is-link"%>
</span>
<span>
  <%= link "Back To LV Index", to: Routes.pt_angio_lv_path(@conn, :index,
  @patient, @info_coronary) , class: "button is-link"%>
</span>
<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-link"   %>
 </span>
