<% alias Angio.Cath%>
<h4 class="title is-4">New Form For Collateral</h4>
<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>
<%= render "form.html", changeset: @changeset, action:
Routes.pt_angio_collateral_path(@conn, :create, @patient, @info_coronary) %> 

<%= link "Back To Collaterals  List", 
  to: Routes.pt_angio_collateral_path(@conn, :create,
@patient, @info_coronary), class: "button is-primary"%>

