
<% alias Angio.Cath%>
<h4 class="title is-4">New Coronary Anatomy Record</h4>
<div class="element_info">
  Patient : <%= render AngioWeb.SharedView, "_patient_info.html", patient:
  @patient %>
</div>

<%= render "form.html", changeset: @changeset, action:
Routes.pt_angio_anatomy_path(@conn, :create, @patient, @info_coronary) %>

<span>

<%=link "Back To Anatomy Index ", to: Routes.pt_angio_anatomy_path(@conn, :create,
@patient, @info_coronary), class: "button is-primary"%>
 </span>


<span>
<%= link "Back To Lab",  to: Routes.pt_angio_path(@conn, :index, @patient),
class: "button is-primary"   %>
 </span>


