<h1>Show Defs table</h1>
<div class="element_info">
    Show DB  - Tables
</div>


<ul>

  <li>
    <strong>Cda xml:</strong>
    <%= @defs_table.cda_xml %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @defs_table.code %>
  </li>

  <li>
    <strong>Code system:</strong>
    <%= @defs_table.code_system %>
  </li>

  <li>
    <strong>Code system name:</strong>
    <%= @defs_table.code_system_name %>
  </li>

  <li>
    <strong>Display name:</strong>
    <%= @defs_table.display_name %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @defs_table.name %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= raw @defs_table.note %>
  </li>




  <li>
    <strong>Template:</strong>
    <%= @defs_table.template_id %>
  </li>

</ul>

<span><%= link "Edit DB Tables", to: Routes.defs_table_path(@conn, :edit, @defs_table), class: "button is-primary" %></span>
<span><%= link "Back To DB Tables Index", to: Routes.defs_table_path(@conn, :index), class: "button is-primary" %></span>
